

#back {
    margin: 0px;
    padding: 10px;
    float: left;
    font-family: sans-serif;
    background-color: teal;
    color: white;
    text-decoration: none;
}

#clearfix {
    clear: both;
}
#heading {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
}
div#chapters {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.chapter {
    display: block;
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}